.container {
    padding: 3%;
}

/* Form Styling */
.form {
    font-size: x-large;
    padding: 1.5%;
    text-align: center;
}

button {
    height: 10%;
    width: 25%;
    text-align: center;
    margin: 3%;
}

input {
    padding: 3px;
    box-shadow: 3px 3px 5px grey;
    font-size: 16px;
    font-weight: 600;
    width: 300px;
    margin: 1%;
}

label {
    font-weight: bold;
    display: block;
    text-align: center;
  }

.footer{
    padding: 3%;
}

/* Media Query for Tablet */
@media screen and (max-width: 1030px){
    
  }
  
  /* Media Query for SmartPhones */
  @media screen and (max-width: 480px){
    .footer{
        padding: 15%;
    }

    button {
        height: 75px;
        width: 100px;
    }

  }