.card {
    max-width: 350px;
    padding: 3%;
}

.linkToProject {
    padding: .125%;
    color: #895D2B;
}

.linkToGithub {
    color: #895D2B;
}

  
  /* Media Query for SmartPhones */
  @media screen and (max-width: 480px){
    .card {
        max-width: 420px;
        padding: 3%;
        align-items: center;
    }

    img {
        max-width: 420px;
    }

    .projectAlign {
        align-items: center;
    }
  }