.card {
    max-width: 350px;
    padding: 3%;
}

.linkToProject {
    padding: .125%;
    color: #895D2B;
}

.linkToGithub {
    color: #895D2B;
}

  
  /* Media Query for SmartPhones */
  @media screen and (max-width: 480px){
    .card {
        max-width: 300px;
        padding: 3%;
    }
  }