/* Colors
Espresso #482E1D
Caramel #895D2B
Leafy #A3966A
Sandstorm #F0DAAE
Cinnamon #90553C
*/

#root {
  max-width: 100%;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #F0DAAE;
}

h1 {
  padding: .75%;
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
}

.selfie {
  display: inline-block;
  margin-left: 43%;
  padding: 1%;
  max-width: 15%;
  max-height: 15%;
}

p {
  padding: 3%;
}

.myName {
  text-align: center;
}

.nav {
  background-color: #A3966A;
}

.nav-item {
  padding: 1%;
}

.nav-link {
  color: #895D2B;
}

.footer {
  background-color: #90553C;
  color: #F0DAAE;
  text-align: center;
}

a {
  color:#F0DAAE;
}

/* Media Query for Tablet */
@media screen and (max-width: 1030px){
  h1 { 
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }  
  footer {
    font-size: 40px;
  }
}

/* Media Query for SmartPhones */
@media screen and (max-width: 480px){
    h1 { 
        font-size: 20px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }  
    .selfie {
        max-width: 30%;
        max-height: 30%;
        margin-left: 35%;
    }
    footer {
        font-size: 35px;
    }
    nav ul li {
        display: inline-block;
        margin-left: 15px;
        font-size: 90%;
    }
}