/* Colors
Espresso #482E1D
Caramel #895D2B
Leafy #A3966A
Sandstorm #F0DAAE
Cinnamon #90553C
*/

#root {
  max-width: 100%;
}

body {
  background-color: #F0DAAE;
}

h1 {
  padding: .75%;
}

.selfie {
  display: inline-block;
  margin-left: 43%;
  padding: 1%;
  max-width: 15%;
  max-height: 15%;
}

.myName {
  text-align: center;
}

.nav {
  background-color: #A3966A;
}

.nav-item {
  padding: 1%;
}

.nav-link {
  color: #895D2B;
}

.footer {
  background-color: #90553C;
  color: #F0DAAE;
  text-align: center;
}

a {
  color:#F0DAAE;
}